<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SISGISTE</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/css/Adicional.css"
	th:href="@{/css/Adicional.css}" />
</head>
<body id="fondo">
	<div th:replace="fragments/navegador :: navegador"></div>
	<div class="text-center bg-dark">
		<h2 class="text-white">
			Fecha: <span th:text="${fechaActual}"></span>
		</h2>
	</div>

	<div>
		<div class="col text-center">
			<button class="btn btn-primary btn-large"
				onclick="mostrarModalAgregarIncidencia(this)"
				th:attr="IDIncidencia=${IDIncidencia}">Agregar Incidencia</button>
		</div>
	</div>

	<hr />

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>T&eacute;cnico Recepcionista</th>
				<th>Oficina</th>
				<th>Operaci&oacute;n</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="incidencia : ${listaIncidencias}" class="bg-white">
				<th scope="row" th:text="${incidencia.idIncidencia}"></th>
				<td th:text="${incidencia.nombreTecnicoRecepcionista}"></td>
				<td th:text="${incidencia.nombreOficina}"></td>
				<td>
					<button type="button"
						th:attr="IDIncidencia=${incidencia.idIncidencia}, IDRecepcionista=${incidencia.idTecnicoRecepcionista},nombreRecepcionista=${incidencia.nombreTecnicoRecepcionista}, IDOficina=${incidencia.idLugarIncidencia}, nombreOficina=${incidencia.nombreOficina}"
						onclick="mostrarModal(this)" class="btn btn-primary">
						<i class="fa fa-save"></i>Terminar
					</button>
				</td>
			</tr>
		</tbody>
	</table>


	<!-- Modal Agregar Incidencia-->
	<div class="modal" id="ModalCentrado" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenteredLabel">Agregar
						Incidencia</h5>
					<button type="button" class="close"
						onclick="cerrarModalAgregarIncidencia()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/registrarIncidencia}" th:object="${incidencia}"
					method="post">
					<div class="modal-body">

						<div class="form-group">
							<label class="col-sm-4">Ticket: </label> <label
								th:text="${incidencia.idIncidencia}"></label> <input
								type="hidden" id="idIncidencia" th:field="*{idIncidencia}" />

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="recepcionistaInput">Recepcionista:</label>
							<div class="col-sm-8">
								<select class="form-control" id="recepcionistaInput"
									th:field="*{idTecnicoRecepcionista}">
									<option th:each="tecnico : ${listaTecnicos}"
										th:value="${tecnico.idTecnico}"
										th:text="${tecnico.nombreCompleto}"></option>
								</select>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="oficinaInput">Oficina:</label>
							<div class="col-sm-8">
								<select class="form-control" id="oficinaInput"
									th:field="*{idLugarIncidencia}">
									<option th:each="lugarIncidencia : ${listaLugaresIncidencia}"
										th:value="${lugarIncidencia.idLugarIncidencia}"
										th:text="${lugarIncidencia.nombreLugarIncidencia}"></option>
								</select>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							onclick="cerrarModalAgregarIncidencia()">Cerrar</button>
						<button type="submit" class="btn btn-success">Guardar
							Cambios</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<!-- Modal Guardar toda la Incidencia-->
	<div class="modal" id="ModalCentradoGuardar" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenteredLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenteredLabel">Guardar
						Incidencia</h5>
					<button type="button" class="close"
						onclick="cerrarModalGuardarIncidencia()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/actualizarIncidencia}" th:object="${incidencia}"
					method="post">
					<div class="modal-body">

						<div class="form-group row">
							<label class="col-sm-4">Ticket: </label> <label id="numeroTicket"
								th:text="${incidencia.idIncidencia}"></label> <input
								type="hidden" th:field="*{idIncidencia}"
								id="idIncidenciaGuardar">
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label"
								for="recepcionistaInputGuardar">Recepcionista:</label>
							<div class="col-sm-8">
								<input type="hidden" id="recepcionistaInputHiddenGuardar"
									th:field="*{idTecnicoRecepcionista}" /> <select
									class="form-control" id="recepcionistaInputGuardar" disabled>
								</select>
							</div>

						</div>
						<div class="form-group row">

							<label class="col-sm-4 col-form-label" for="oficinaInputGuardar">Oficina:</label>
							<div class="col-sm-8">
								<input type="hidden" id="oficinaInputHiddenGuardar"
									th:field="*{idLugarIncidencia}" /> <select
									id="oficinaInputGuardar" class="form-control" disabled>
								</select>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="nombreUsuario">Nombre
								de usuario:</label>
							<div class="col-sm-8">
								<input class="form-control" id="nombreUsuario" type="text"
									th:field="*{usuario}" required />
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="equipoInput">Equipo:</label>
							<div class="col-sm-8">
								<select class="form-control" id="equipoInput"
									th:field="*{idEquipo}">
									<option th:each="equipo : ${listaEquipos}"
										th:value="${equipo.idTipoEquipo}"
										th:text="${equipo.nombreTipoEquipo}"></option>
								</select>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="SBNInput">SBN
								o Serial:</label>
							<div class="col-sm-8">
								<input class="form-control" id="SBNInput" type="text"
									th:field="*{SBN}"/>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="problema">Problema:</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="problema" rows="4"
									th:field="*{problema}" required></textarea>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="solucionadorInput">Solucionador:</label>
							<div class="col-sm-8">
								<select class="form-control" id="solucionadorInput"
									th:field="*{idTecnicoSolucionador}">
									<option th:each="tecnico : ${listaTecnicos}"
										th:value="${tecnico.idTecnico}"
										th:text="${tecnico.nombreCompleto}"></option>
								</select>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="solucionDesc">Soluci&oacute;n:</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="solucionDesc" rows="4"
									th:field="*{descripcionSolucion}" required></textarea>
							</div>

						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							onclick="cerrarModalGuardarIncidencia()">Cerrar</button>
						<button type="submit" class="btn btn-success">Guardar
							Cambios</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Agregamos el jquery y bootstrap -->
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

	<!-- Agregamos nuestro JavaScript para el manejo de los modales -->
	<script th:src="@{/js/acciones.js}"></script>
</body>
</html>