<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SISGISTE</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/css/Adicional.css"
	th:href="@{/css/Adicional.css}" />
</head>
<body id="fondo">
	<div th:replace="fragments/navegador :: navegador"></div>
	<div class="text-center bg-dark">
		<h1 class="text-white">Reportes</h1>
	</div>

	<div class="bg-white">
		<div th:if="${msj != null}" class="alert alert-danger alert-dismissible fade show"
			role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>No se encontr&oacute; ninguna incidencia con esas caracter&iacute;sticas. </strong> 
			Verifique que los datos sean correctos.
		</div>

		<h3 class="mt-sm-2">Reporte de servicios hecho por t&eacute;cnico</h3>
		<form class="form-inline p-sm-1" th:object="${busquedaReporte}"
			th:action="@{/reporteImprimir}" method="post" autocomplete="off">
			<label class="col-form-label" for="inlineFormInputName2">T&eacute;cnico:</label>
			<select class="form-control m-sm-2" th:field="*{idTecnico}">
				<option th:each="tecnico : ${listaTecnicos}"
					th:value="${tecnico.idTecnico}" th:text="${tecnico.nombreCompleto}"></option>
			</select>
			<div class="input-group mb-2 m-sm-2">
				<label class="col-form-label" for="fechaInicio">Fecha
					Inicio: </label> <input id="fechaInicio" type="text"
					th:field="*{fechaInicioBusqueda}" required/>
			</div>
			<div class="input-group mb-2 m-sm-2">
				<label class="col-form-label" for="fechaFin">Fecha Fin: </label> <input
					id="fechaFin" type="text" th:field="*{fechaFinBusqueda}" required/>
			</div>

			<button type="submit" class="btn btn-primary mb-2">Generar
				Reporte</button>
		</form>
	</div>



	<!-- Agregamos el jquery y bootstrap -->
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

	<!-- Agregamos nuestro JavaScript para ponerle formato a las fechas -->
	<script th:src="@{/js/fechas.js}"></script>
</body>
</html>