<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Usuario no permitido</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
	<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template bg-warning text-center rounded">
                <h1>
                    Oops!</h1>
                <h2>
                    403 Acceso Denegado</h2>
                <div class="error-details">
                    Disculpe, su usuario no est&aacute; habilitado para este sistema
                </div>
                <div class="error-actions">
                    <a th:href="@{/login}" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i>
                        Volver al login </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>